@import '~primeflex/src/_variables.scss';
@import '~primeflex/src/_grid.scss';
@import '~primeflex/src/_formlayout.scss';
@import '~primeflex/src/_display.scss';
@import '~primeflex/src/_text.scss';
@import '~primeflex/src/flexbox/_flexbox.scss';
@import '~primeflex/src/_spacing.scss';
@import '~primeflex/src/_elevation.scss';
@import '~primevue/resources/themes/saga-blue/theme.css';
@import '~primevue/resources/primevue.min.css';
@import '~primeicons/primeicons.css';

html,
body,

#app {
    height: 80vh;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
